*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}

@keyframes dropDown{
    0%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,100vh);
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

:root{
    --bg-color:#34202b;
}

body{
    overflow: hidden;
}

canvas{
    display: block;
}

.arcadeBtn{
    border: none;
    background: #cb4e4e;
    border-radius: 40px;
    box-shadow: 0 6px #ab3c3c;
    color: white;
    cursor: pointer;
    padding: 25px 80px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all ease-in-out 0.2s;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.arcadeBtn:hover{
    transform: translate(0,3px);
    box-shadow: 0 3px #ab3c3c;
}

.arcadeBtn:active{
    transform: translate(0,6px);
    box-shadow: none;
}

.arcadeBtn:focus{
    outline: 0;
}

.loadingBtn{
    background-color: #808080;
    box-shadow: 0 6px #505050;
}

.loadingBtn:hover, .loadingBtn:active{
    transform: none;
    box-shadow: 0 6px #505050;
}

.remove-hover-pointer{
    cursor: default;
}